i {
    display: block;
    width: 50px;
    height: 50px;
    &.instagram {
        @include sprite($instagram);
    }
    &.ico {
        @include sprite($icoo1);
    }
}

@media screen and (max-width: 1200px) {
    i {
        width: 30px;
        height: 30px;
    }
}

#app {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: $black;
    .main {
        font-size: 20px;
        color: $white;
    }
}

.flex {
    display: flex;
}

.socnet {
    color: green;
}

@media screen and (max-width: 1200px) {
    #app {
        background: $white;
    }
}